<div class="flex justify-center items-center bg-slate-800 rounded-lg h-12 w-12">
    <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M14.5 29.5V19L8 15.5L16 1.5L17.5 2.5V13L24 15.5L16 30.5L14.5 29.5Z"
            fill="#6D28D9"></path>
    </svg>
</div>
