<div class="flex justify-center items-center bg-slate-800 rounded-lg h-12 w-12">
    <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M10.1813 4.26672C6.32526 4.26672 3.20001 7.39197 3.20001 11.248C3.20001 17.9599 10.9856 24.3732 14.6229 27.2292C14.6264 27.232 14.6299 27.2348 14.6333 27.2376C14.6583 27.2571 14.6922 27.285 14.7167 27.3042L14.7188 27.3021C15.0878 27.581 15.5375 27.7323 16 27.7334C16.4633 27.7328 16.9137 27.5814 17.2833 27.3021V27.3042C17.2905 27.2986 17.3011 27.2911 17.3083 27.2855C17.3138 27.2812 17.3216 27.2752 17.3271 27.2709C17.3341 27.2647 17.341 27.2584 17.3479 27.2521C20.974 24.4064 28.8 17.9759 28.8 11.248C28.8 7.39197 25.6748 4.26672 21.8188 4.26672C18.1334 4.26672 16 7.46672 16 7.46672C16 7.46672 13.8666 4.26672 10.1813 4.26672Z"
            fill="#EC4899"></path>
    </svg>
</div>
